:root {
    --orange : #f85e26;
    --black : #000000;
    --white : #ffffff;
    --roboto : 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

.noStyle {
    text-decoration: none;
    list-style: none;
    color: var(--black);
}

.menu {
    position: relative;
    cursor: pointer;
}

.containerHeader {
    font-family: var(--roboto);
    font-size: 17px;
    background-color: var(--orange);
    box-shadow: 0 0 30px var(--black);
    border-bottom: solid 3px var(--black);
}

.rcpLogo {
    height: 135px;
    position: absolute;
    cursor: pointer;
    left: 907.5px; top: 5px;
    filter: drop-shadow(0px 20px 50px var(--black));
}

.li {
    padding: 10px;
    cursor: pointer;
    padding-bottom: 30px;
    padding-top: 30px;
}

.li:hover {
    background-color: #e25e21;
    color: var(--white);
}

.leftNav {
    margin-left: 280px;
}

.leftLi {
    margin-right: 50px;
}

.rightLi {
    margin-left: 50px;
}

.rightNav {
    margin-left: 150px;
}


.triangle {
    height: 10px;
    padding-left: 10px;
    margin-top: 5px;
}


/********************UNDER MENU********************/


.underMenu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: var(--orange);
}

.underLi {
    padding-top: 30px;
    border-bottom: solid 3px var(--black);
    color: var(--white);
}

.menu {
    position: relative;
    cursor: pointer;
}

.menu:hover .underMenu {
    display: block;
    background-color: #e25e21;
    color: var(--white);
}

.club {
    width: 130px;
}

.sections {
    width: 164px;
}